<!-- <p *ngFor="let item of course| keyvalue">{{item}}</p> -->
<div class="card">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col">
                    {{course.name}}
                </div>
                <div class="col">
                    {{course.author}}
                </div>
                <div class="col">
                    <a href="{{course.link}}">Go to course: {{course.name}}</a>
                </div>
                <div *ngIf="isLoggedIn==true" class="col">
                    <a class="btn btn-dark" (click)="buyCourse()">Buy Course</a>
                </div>
            </div>

        </div>
    </div>
</div>